body {
    padding-top: 50px;
    position: relative;
    background: #221f1f;
}

.center-div {
    margin: 0 auto;
    width: 100%;
}

p.big {
    line-height: 1.0;
    font-size: 16px;
}

/* NAVBAR */

.navbar {
    background: #221f1f;
    padding: 18px;
}

.navbar-dark .navbar-brand {
    color: #ff0000;
    font-size: 40px;
}

#advanced_search {
    position: relative;
    margin-right: 50px;
}

.slogan{
    color: white;
    position: absolute;
    top: 55px;

}

/* SEARCH BAR */

.react-autosuggest__container {
  position: relative;
  margin: auto;
  left: 15%;
}

.react-autosuggest__input {
  width: 400px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #0e1111;
  border: 1px solid #aaa;
  border-radius: 15px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  width: 400px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  color: #0e1111;
  padding: 5px 10px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.dancounsell {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/48.jpg);
}

.ladylexy {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/48.jpg);
}

.mtnmissy {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/mtnmissy/48.jpg);
}

.steveodom {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/steveodom/48.jpg);
}

.name {
  margin-left: 68px;
  line-height: 45px;
}

.highlight {
  color: #ee0000;
  font-weight: bold;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}

/* MOVIE INFORMATION */

.card {
    border-radius: 10px;
    margin-top: 50px;
    align-self: center;
}

.card-title {
    text-transform: uppercase;
    color: #000000;
}

.card-tagline {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #404040;
}

.card-text {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 16px;
}

/* COMMENT SECTION */

#comment_section {
    display: inline-flex;
}

.comment-box img {
    width: 50px;
    height: 50px;
}

.comment-box .media-left {
    padding-right: 10px;
    width: 65px;
}

.comment-box .media-body p {
    border: 1px solid #ddd;
    padding: 10px;
}

.comment-box .media-body .media p {
    margin-bottom: 0;
}

.comment-box .media-heading {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 7px 10px;
    position: relative;
    margin-bottom: -1px;
}

.comment-box .media-heading:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -6px;
}

/* USER PROFILE */

.user_profile {
    width: 90%;
    padding: 20pt;
}

.user_profile ul li {
    font-size: 16px;
}

.panel {
    font-size: 16px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    padding: 20px;
}

.nav-tabs {
    font-weight: bold;
    margin-bottom: 0;
}

.nav-tabs a {
    color: red;
}



.ratedlist-container {
       overflow-y: hidden;
       overflow-x: scroll;
       display: flex;
       overflow: -moz-scrollbars-horizontal;
       /* grid-template-columns: repeat(20, 1fr); */
       column-gap: 1;

}


.ratedlist-container .movielink {
   color: black;

}


.ratedlist-container .movie_image{
    cursor: pointer;
    transition: all 450ms;
    transform: center left;
    min-height: 0;
    height: 20rem;
    width: 15.5rem;
  }

  .ratedlist-container .movie_image:hover  {
       transform: scale(1.0);
       opacity: 1;

    }


/* ADVANCED SEARCH */

.advanced_search {
    width: 200px;
    float: left;
    font-size: 11pt;
}

.movieList {
    overflow: auto;
    position: relative;
    padding-top: 45px;
    padding-left: 30px;
}

.movieList a {
    color: white;
    font-size: 14pt;
}

.movieList a:hover {
    color: #ff0000;
    font-size: 14pt;
}

.nextButton {
    position: absolute;
    left: 90%;
}

/* FOOTER */

.footer {
    position: absolute;
     /*bottom: 0;*/
    width: 100%;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: #221f1f;
     padding: 5px;
    /*margin-bottom: 0px;*/
    /*position: fixed;*/
}

 /* MOVIE ROW-LANDING PAGE */
.movieRow {
    background-color:#221f1f;
    /* grid-column: 2 / 13; */
    color: #fff;
    margin-top: 100px;
  }

  .movieRow_heading {
       padding-top: rem;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 20px;
}
    
  
  .movieRow_container { 
       overflow-y: hidden;
       transition: transform 450ms;
       overflow-x: scroll;
       display: flex;
      
       overflow: -moz-scrollbars-horizontal; 
       /* grid-template-columns: repeat(20, 1fr); */
       column-gap: 1;
  }



  /* MOVIE IMAGES */
  .movie_image{
    cursor: pointer;
    transition: all 450ms;
    transform: center left;
    min-height: 0;
    height: 22rem;
    width: 20.5rem;
  }
    
  .movie_image:hover  {
       transform: scale(1.5);
       opacity: 1;
    }

.movielink{
      color: #FFFFFF;

}
  
.movielink:hover{
    color: #3366ff;
}


.movieTitle{
    height: 55px;
    padding-right: 10px;

}


/* SIGN IN PAGE */
    .header {
    text-align: center;
    color: #FF0000;
    vertical-align: text-top;

  }

  .header h5{
    color: #FFFFFF;
  }

  .wrapper{
    background: linear-gradient(90deg, #999999 0%,  #737373 50%, #4A4A4A 100%);;
    height:30%;
    background-size: cover;
    background-image: url("./images/landingPage.png");
    background-repeat: no-repeat, repeat;
    width:auto;
    position: relative;
    padding-top: 70px;
  }
  
  .login-container {
    padding: 25px;
    background: linear-gradient(90deg, #999999 0%,  #737373 50%, #4A4A4A 100%);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  @media screen and (max-width: 800px) {
    .container {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
  
  
  input{
    width: 100%
  }
  
  
  .col-md-12{
  text-align: center;
  position: absolute;
  color: #ddd;
  
  
  }
  
  .col-md-12 img {
    height: 50%;
    width: 50%;
    position: absolute;

  }


  /* REGISTER PAGE  */
  
  .register-container{
    margin: 0 auto;
    border-radius: 4px;
    width: 75%;
    max-width: 900px;
    padding: 10px;
    padding-top: 70px;
  }

  input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  
  button[type=submit] {

    width: 30%;
    margin-top: 10px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .register-text{
      color: white;
  }


/* NEW USER RATINGS */



.newuser-card  {
    color: white;
     margin: auto;
    width: 60%;
}

.newusercard-body{

    border-radius: 10px;
    margin-top: 50px;
    align-self: center;
}
.movie-genres{
    cursor: pointer;
    transition: all 450ms;
    transform: center left;
    min-height: 0;
    height: 22em;
    width: 30em;

}

.newuser-rating-form{
    margin: auto;

}

.movie-genres{
     overflow-y: hidden;
       transition: transform 450ms;
       display: flex;

}

@media only screen and (max-width: 700px) {
  .genreImages{
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .genreImages{
    width: 100%;
  }
}

.genreImages {
  width: 140px;
    height: auto;
}

.newuser-submit {
     background-color: #e7e7e7;
    color: black;
   display:block;
    font-size: 16px;
}


table, td {

  border-collapse: collapse;
}
td {
  padding: 15px;

}


